.about {
	padding-top: 116px;
	padding-bottom: 116px;
	// .about__container
	&__container {
		display: flex;
	}

	// .about__content
	&__content {
		flex: 1 1 auto;
		padding-right: 20px;
	}

	// .about__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .about__text
	&__text {
		max-width: 390px;
	}

	// .about__image
	&__image {
		text-align: center;
		flex: 0 0 53.2%; /* 665/1250 */
		& img {
			max-width: 100%;
		}
	}
}

@media (max-width: 1280px) {
	.about {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: $tablet) {
	.about {
		padding-top: 45px;
		padding-bottom: 45px;
		&__container {
			flex-direction: column;
		}
		&__content {
			text-align: center;
			padding-right: 0;
			margin-bottom: 20px;
		}
		&__text {
			max-width: none;
		}
	}
}

@media (max-width: $mobile) {
}
@media (max-width: $mobileSmall) {
}
