.main {
	padding-top: 93px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.1);
	padding-bottom: 98px;
	// .main__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .main__content
	&__content {
		flex: 1 1 auto;
		padding-right: 20px;
	}

	// .main__title
	&__title {
		font-weight: 700;
		font-size: 96px;
		line-height: 1;
		text-transform: uppercase;
		color: var(--light-color);
		& span {
			color: var(--blue-color);
		}
		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	// .main__buttons
	&__buttons {
		display: flex;
		align-items: center;
		gap: 24px;
	}



	// .main__cv-button
	&__cv-button {
		& span {
			padding-right: 34px;
			display: inline-block;
			background: url('../img/./icons/download.svg') right no-repeat;
		}
	}

	// .main__image
	&__image {
		flex: 0 0 42.8%;
		text-align: center;

		& img {
			max-width: 100%;
		}
	}
}

@media (max-width: 1280px) {
	.main {
		padding-top: 50px;
		padding-bottom: 45px;
		&__container {
			flex-direction: column;
			align-items: stretch;
		}
		&__content {
			padding-right: 0;
		}
		&__title {
			text-align: center;
		}
		&__image {
			flex: 0 0 auto;
		}
		&__buttons {
			justify-content: center;
		}
	}
}

@media (max-width: $mobile) {
	.main {
		padding-top: 35px;
		padding-bottom: 35px;
	
		&__title {
			font-size: 65px;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}
@media (max-width: $mobileSmall) {
	.main {
		&__title {
			font-size: 45px;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		&__buttons {
			gap: 10px;
			flex-direction: column;
			align-items: stretch;
		}
	}
}
